
*{
    margin: 0px;
    padding: 0px;
}

.tong {
    display: flex;
    width: 790px;
    height: 538px;
    margin: auto;
    background-color:#c9eaf2;
    flex-direction: row;
}

.menu{
    width: 163px;
    height: 539px;
    background-color: #0083a3;
}




